language: android
jdk: oraclejdk7
android:
  components:
    - platform-tools
    - tools
    - build-tools-22.0.1
    
    # The SDK version used to compile your project
    - android-19

    # Additional components
    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository
    - addon-google_apis-google-19

    # Specify at least one system image,
    # if you need to run emulator(s) during your tests
    - sys-img-armeabi-v7a-android-19
    #- sys-img-x86-android-17

before_install:
  - echo yes | android update sdk --all --filter build-tools-22.0.1 --no-ui --force > /dev/null
      
# Emulator Management: Create, Start and Wait
before_script:
  - echo no | android create avd --force -n test -t android-19 --abi armeabi-v7a
  - emulator -avd test -no-skin -no-audio -no-window &
  - android-wait-for-emulator
  - adb shell input keyevent 82 &    