<?xml version="1.0" encoding="utf-8"?>
<!--
 Copyright (c) 2012 Ngewi Fet <ngewif@gmail.com>
 
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at
 
    http://www.apache.org/licenses/LICENSE-2.0
 
 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.gnucash.android">

    <permission-group 
        android:name="${applicationId}.permission.group.GNUCASH"
        android:label="@string/label_permission_group" 
        android:description="@string/description_permission_group" />
    
    <permission android:name="${applicationId}.permission.CREATE_ACCOUNT"
        android:label="@string/label_permission_create_account"
        android:permissionGroup="${applicationId}.permission.group.GNUCASH"
        android:protectionLevel="dangerous" />
    <permission android:name="${applicationId}.permission.RECORD_TRANSACTION"
        android:label="@string/label_permission_record_transaction"
        android:permissionGroup="${applicationId}.permission.group.GNUCASH"
        android:protectionLevel="dangerous" />
    
    <uses-permission android:label="@string/label_permission_record_transactions"
        android:name="org.gnucash.android.permission.RECORD_TRANSACTION" />
    <uses-permission android:label="@string/label_permission_create_accounts"
        android:name="org.gnucash.android.permission.CREATE_ACCOUNT" />
    <uses-permission android:label="@string/permission_access_sdcard"
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"
                     android:label="Allow device to vibrate with notifications" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"
        android:label="Schedule repeating transactions when device is rebooted"/>
    <uses-permission android:name="android.permission.INTERNET"
        android:label="Export and backup to 3rd party hosting services" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:name="org.gnucash.android.app.GnuCashApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" 
        android:theme="@style/Theme.Sherlock.Light.DarkActionBar">
        <activity
            android:name=".ui.account.AccountsActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.gnucash" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.gnca" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.gnca.zip" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.passcode.PasscodeLockScreenActivity"
            android:noHistory="true"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity android:name=".ui.settings.SettingsActivity"/>
        <activity android:name=".ui.transaction.ScheduledActionsActivity" />
        <activity android:name=".ui.passcode.PasscodePreferenceActivity" />
        <activity android:name=".ui.transaction.TransactionsActivity"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity android:name=".ui.widget.WidgetConfigurationActivity"
            android:label="@string/label_widget_configuration"
            android:theme="@style/Dialog.WidgetConfiguration"
            android:excludeFromRecents="true">
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
		    </intent-filter>
		</activity>
        <activity android:name=".ui.chart.ChartReportActivity" />
        <activity android:name=".ui.chart.PieChartActivity" />
        <activity android:name=".ui.chart.LineChartActivity" />
        <activity android:name=".ui.chart.BarChartActivity" />
        <activity android:name="com.dropbox.sync.android.DbxAuthActivity" />
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboard">
            <intent-filter>
                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="@string/manifest_dropbox_app_key" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service
            android:name="com.dropbox.sync.android.DbxSyncService"
            android:enabled="true"
            android:exported="false"
            android:label="Dropbox Sync" />
        <service android:name=".service.SchedulerService"
            android:exported="false"
            android:label="GnuCash Android Scheduler Execution Service"/>
        <receiver android:name=".receivers.TransactionRecorder"
            android:label="Records transactions received through intents"
            android:permission="org.gnucash.android.permission.RECORD_TRANSACTION">
            <intent-filter>
                <action android:name="android.intent.action.INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.${applicationId}.transaction"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.AccountCreator"
            android:label="Creates new accounts"
            android:permission="org.gnucash.android.permission.CREATE_ACCOUNT" 
            android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.${applicationId}.account"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.TransactionAppWidgetProvider" >
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		    </intent-filter>
		    <meta-data android:name="android.appwidget.provider"
		               android:resource="@xml/transaction_appwidget_info" />
		</receiver>
        <receiver android:name=".receivers.BootReceiver"
            android:label="Schedules regular runs for the scheduled events service"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="com.crashlytics.ApiKey" android:value="46fe045d00d4ad8a71014c53567be3368e10bd64"/>
        
    </application>

</manifest>